.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.text {
  font-weight: 600;
  font-size: 20px;
  color: #121212;
  text-transform: uppercase;
}

.link {
  font-size: 20px;
  font-weight: 500;
  color: #868686;
}